/* pages/category/index.wxss */
page{
    height: 100%;
};
.cates{
    height: 100%;
    .cates_container{
        /* less中使用calc的时候要注意 */
        height: ~'calc(100vh - 90rpx)';
        display: flex;

        .left_menu{
            /* 子项 高度 100% flex */
            flex: 2;
            .menu_item{
                height: 80rpx;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30rpx;
                border-left: 5rpx solid transparent;
            }
            .active{
                color: var(--themeColor);
                border-left: 5rpx solid currentColor;
            }
        }

        .right_content{
            /* 子项 高度 100% flex */
            flex: 5;
            .goods_group{
                .goods_title{
                    height: 80rpx;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .delimiter{
                        color: #ccc;
                        padding: 0 10rpx;

                    }
                    .title{

                    }
                }
                .goods_list{
                    display: flex ;

                    /* 弹性容器为多行。
                    该情况下弹性子项溢出的部分会被放置到新行，
                    子项内部会发生断行 */
                    flex-wrap: wrap;
                    navigator{
                        width: 33.33%;
                        text-align: center;
                        image{

                        }
                        .goods_name{

                        }
                    }  
                }
                
            }
        }
 }   
}